{# Create classes array. The 'node' class is required for contextual edit links.
Permet d'ajouter des classes dynamiques ou non aux éléments du markup
#}
{% set classes = [
'node',
'node--type-' ~ node.bundle|clean_class

] %}
{% set titre_attribute = create_attribute() %}
{% set taxo_attribute = create_attribute() %}
{% set taxo2_attribute = create_attribute() %}
{% set complement_attribute = create_attribute() %}
{% set chptexteeurope_attribute = create_attribute() %}
{% set liensectioneurope_attribute = create_attribute() %}
{% set image_attribute = create_attribute() %}
{% set imagecontainer_attribute = create_attribute() %}
{% set vuebloc_attribute = create_attribute() %}

{% set zone1_attribute = create_attribute() %}
{% set zone2_attribute = create_attribute() %}
{% set zone3_attribute = create_attribute() %}

{% set titre_classes = [
'titre_overlay',
'titre_page',
'titre-' ~ node.bundle|clean_class
]%}
{% set taxo_classes = [
'terme-pole',
'terme-' ~ content.field_pole_metiers[0]['#title']|clean_class | replace({"^" : ""}),
]%}
{% set taxo2_classes = [
'modalite-alternance',
'terme-' ~ node.field_systeme_de_formation[0]['#title'] | clean_class | replace({"^" : ""}),
]%}
{# Classe spécifique pour la vue insérée #}
{% set vuebloc_classes = [
'insertion-vue',
'liste-formations-possibles',
'vue-' ~ rows[0]['content']['#row']._entity.getTitle(),
'vue-' ~ node.view.name,
'type-' ~ node.bundle|clean_class
]%}
{% set liensectioneurope_classes = [
'lien-section-europe',
'champ-' ~ content.field_specificite_de_la_formatio[0]['#title']|clean_class | replace({"^" : ""}),
]%}
{% set chptexteeurope_classes = [
'paragraphe-section-europe',
'champ-' ~ content.field_texte_section_europe[0]['#title']|clean_class | replace({"^" : ""}),
]%}
{% set complement_classes = [
'complement-titre-fiche',
'champ-' ~ content.field_complement_info_formation[0]['#title']|clean_class | replace({"^" : ""}),
]%}
{% set image_classes = [
'illustration-'~ node.bundle|clean_class,
'image--type-' ~ node.bundle|clean_class

]%}
{% set imagecontainer_classes = [
'imagecontainer',
'type-' ~ node.bundle|clean_class
]
%}
{#'zone1_layout_9_3'#}
{% set zone1_classes = [
'zone_layout_max_centre',

'type-' ~ node.bundle|clean_class
]
%}
{# zone1_layout_6_6 #}
{% set zone2_classes = [
'zone_layout_max_centre',
'type-' ~ node.bundle|clean_class
]
%}
{#'zone2_layout_9_3', zone2_layout_6_6 #}
{% set zone3_classes = [
'zone_layout_max_centre',
'type-' ~ node.bundle|clean_class
]
%}
{# BEM inspired class syntax: https://en.bem.info/
   Enable this code if you would like node classes like "article article--layout-teaser", where article is the content type and teaser is the view mode.
{% set classes = classes|merge([
  node.bundle|clean_class,
  view_mode ? node.bundle|clean_class ~ '--layout-' ~ view_mode|clean_class
]) %}
{% set title_classes = [
  node.bundle|clean_class ~ '__title'
] %}
#}
<!--______________NODE TPL POUR PAGE.TPL CUSTOM ________________ -->
<article{{ attributes.addclass(classes).setattribute('id', 'node-'~node.id) }}>

  {% if title_prefix or title_suffix or display_submitted or unpublished or page is empty and label %}
    <header>
      {{ title_prefix }}
      {% if not page and label %}
        <h2{{ title_attributes.addClass(title_classes) }}>
          <a href="{{ url }}" rel="bookmark">{{ label }}</a>
        </h2>
      {% endif %}
      {{ title_suffix }}

      {% if display_submitted %}
        <div class="submitted">
          {{ author_picture }}
          {% trans %}Submitted by
          {{ author_name }}
          on
          {{ date }}{% endtrans %}
          {{ metadata }}
        </div>
      {% endif %}

      {% if not node.published %}
        <p class="node--unpublished">{{ 'Unpublished'|t }}</p>
      {% endif %}
    </header>
  {% endif %}

  <!--______________ ILLUSTRATION et TITRE ________________ -->
  <div {{ imagecontainer_attribute.addClass(imagecontainer_classes).setAttribute('id', 'zone-diaporama') }}>

    {% set image_deco = content.field_illus_fiche_bts | render | trim %}
    {% if image_deco or node.label is not empty %}
      <div {{image_attribute.setAttribute('id', 'illustration-pleinepage').addClass(image_classes) }}>
        <h1 {{ titre_attribute.addClass(titre_classes) }}>{{node.label}}</h1>
        {{ content.field_illus_fiche_bts.0}}
      </div>
    {% endif %}
  </div>
  <!-- /zone-illustration -->

  <!--______________ZONE 1________________ -->
  <div {{ zone1_attribute.addClass(zone1_classes).setAttribute('id', 'zone-1') }}>
    {# Récupération du terme de taxonomie du pôle sans le lien vers taxo
    #}
    <span {{ taxo_attribute.addClass(taxo_classes) }}>

      {{ content.field_pole_metiers.0['#title'] }}
    </span>

    <div{{ content_attributes.addclass('content') }}>

      {# Affichage conditionnel du texte si complement #}
      {% if content.field_complement_info_formation | render is not empty %}
        <span {{ complement_attribute.addClass(complement_classes) }}>
          {{ content.field_complement_info_formation.0 }}
        </span>
      {% endif %}

      {{ content.body }}

      {# Affichage conditionnel du terme si alternance #}
      {% if content.field_systeme_de_formation | render is not empty %}
        <span {{ taxo2_attribute.addClass(taxo2_classes) }}>
          Possible
          {{ content.field_systeme_de_formation.0 }}
        </span>
      {% endif %}

      {% include directory ~ '/includes/dedicates_inc/inc_videos_embed.html.twig' %}

    </div>
    <!-- /.content -->
    {% include directory ~ '/includes/regions_inc/inc_region_zone_1.html.twig' %}
  </div>
  <!-- /zone-1-->

  <!--______________ZONE 2________________ -->
  <div {{ zone2_attribute.addClass(zone2_classes).setAttribute('id', 'zone-2') }}>

    {% include directory ~ '/includes/dedicates_inc/inc_ficheform_infos_utiles.html.twig' %}
    {% include directory ~ '/includes/regions_inc/inc_region_zone_2.html.twig' %}

  </div>
  <!-- /zone-2 -->

  <!--______________ ZONE 3 ________________ -->
  <div {{ zone3_attribute.addClass(zone3_classes).setAttribute('id', 'zone-3') }}>

    {# Affichage liste des formations possible après cette seconde, réforme 2019 - Champs ViewRef
    Voir si ajout de classe dynamique selon le nid possible avec twig ?
    #}
    {# Affichage conditionnel du contenu si champ rempli #}
    {% if content.field_inserer_liste_viewfield | render is not empty %}
      <span {{ vuebloc_attribute.addClass(vuebloc_classes) }}>
        {{ content.field_inserer_liste_viewfield.0 }}
      </span>
    {% endif %}

    {# Affichage conditionnel du contenu si champ rempli #}
    {% if content.field_specificite_de_la_formatio | render is not empty %}
      <h2 {{liensectioneurope_attribute.addclass(liensectioneurope_classes) }}>
        {{ content.field_specificite_de_la_formatio.0 }}
      </h2>
    {% endif %}

    {# Affichage conditionnel du contenu si champ rempli #}
    {% if content.field_texte_section_europe | render is not empty %}
      <article {{chptexteeurope_attribute.addclass(chptexteeurope_classes) }}>
        {{ content.field_texte_section_europe.0 }}
      </article>
    {% endif %}

    {% include directory ~ '/includes/dedicates_inc/inc_ficheform_liste_lycees.html.twig' %}

    {% include directory ~ '/includes/regions_inc/inc_region_zone_3.html.twig' %}

    {% if content.links %}
      <div class="links">
        {{ content.links }}
      </div>
      <!-- /.links -->
    {% endif %}

  </div>
  <!-- /zone-3 -->

</article>
<!-- /.node -->