{#
/* 02/2019 Liste les fichiers uploadés par
* filefield and linkfield  avec création d'une liste dynamique, exclusion des champs vides

Migration D9 2022: remplace fichier inc_liste_lycees_CCKTaxo.php
#}

{# ---*** Les classes à appliquer aux éléments  ***--- #}
{% set champ1_attribute = create_attribute() %}
{% set champ1bis_attribute = create_attribute() %}
{% set champ2_attribute = create_attribute() %}
{% set champ3_attribute = create_attribute() %}

{% set liste1_attribute = create_attribute() %}

{% set champ1_classes = [
'champ-' ~ node.field_possible_dans_le_s_lycee_s.fieldDefinition.name | replace({"_" : "-"}),
'titre-' ~ node.bundle|clean_class
]%}
{% set champ1bis_classes = [
'label-' ~ node.field_NAME.fieldDefinition.name | replace({"_" : "-"}),
]%}
{% set champ2_classes = [
'label-' ~ node.field_NAME.fieldDefinition.name | replace({"_" : "-"}),
]%}
{% set liste1_classes = [
'liste-titres',
]%}
{# ---*** Le contenu de l'include ***--- #}

{% if node.field_possible_dans_le_s_lycee_s.value or node.field_NAME.value is not empty %}
  <aside class="lycees-possibles liste-formations-possibles">

    <ul {{ liste1_attribute.addClass(liste1_classes)}}>
      <li {{ champ1_attribute.addClass(champ1_classes) }}>
        <h3>
          {{ content.field_possible_dans_le_s_lycee_s|field_label }}
        </h3>
        {% if node.field_NAME is not empty %}
          {{ '//' | raw }}
          <h3>
            {{ content.field_NAME | field_label }}
          </h3>

        {% endif %}
      </li>
    </ul>

    <ul>
      {# //Parcourir le tableau field_NAME de l'objet $node pour lister le contenu clé/valeur #}
      {% for key, fichier in node.field_possible_dans_le_s_lycee_s.value %}
        {# //Ne pas afficher les champs vides du tableau #}
        {% if node.field_possible_dans_le_s_lycee_s.value is not empty %}
          <li>{{ content.field_possible_dans_le_s_lycee_s[key] }}</li>
        {% endif %}
      {% endfor %}

    </ul>
  </aside>
{% endif %}