// Regroupe le style pour le contenu des node.tpl custom
// créer des fichiers _CONTENT-TYPE.scss et les importer dans application.scss

/*-------------------------------------|
|       CONTENU CUSTOM               |
|               NODE.TPL                      |
|     CONTENU ASSOCIATION          |
|        ACTU LYCEE RSS                   |
|--------------------------------------*/

//@include breakpoint ($mobile){}
//@include breakpoint ($desktop){}
//@include breakpoint ($tablet){}
//@include breakpoint(($desktop,$tablet)){}
//@include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){}
//@include font-size(smlxl);//utilisation de typey

/*######-------- ||| ORDRE FLEXBOX ||| --------######*/
body .conteneur .conteneur-flex{
    #zone-1.type-page-association{order:1;}
    #zone-2.type-page-association{order:2;}
    #zone-3.type-page-association{order:3;}
    #zone-4.type-page-association{}
    #zone-5.type-page-association{}
    @include breakpoint ($desktop){}
}

/*######-------- ||| BORDURES ||| --------######*/
body .conteneur .conteneur-flex,
body .conteneur{
    @include breakpoint(($desktop,$tablet)){
    }

}

/*######-------- ||| LAYOUT SPECIFIQUE ||| --------######*/
$typedecontenu: type-page-association;
$zonesimg: zone-illustration;
@each $zone in $zonesimg {
  @each $type in $typedecontenu {
    ##{$zone}.#{$type} {
      #illustration-pleinepage {
        min-height: 35vw;
        max-height: 90vw;
        overflow: hidden;
        position: relative;
        // Pour image défaut en BG, voir style différencié ci-après

        img {
          transform: translate(0%,0%);
          @include adaptable-img();
        }
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)) {
          min-height: 25vw;
          max-height: 30vw;

          img:not([src*="defaut"]) {
            transform: translate(0%,-9%);
          }
          img[src*="defaut"]{//Position du visuel par défaut
            transform: translate(0%,-10%);
          }
        }
        @include breakpoint(($tablet)) {
          min-height: 25vw;
          max-height: 30vw;

          img:not([src*="defaut"]) {
            transform: translate(0%,-25%);
          }
          img[src*="defaut"]{//Position du visuel par défaut
            transform: translate(0%,-24%);
          }
        }
        @include breakpoint(($tabletlandscape)) {
          min-height: 25vw;
          max-height: 30vw;

          img:not([src*="defaut"]) {
            transform: translate(0%,-20%);
          }
          img[src*="defaut"]{//Position du visuel par défaut
            transform: translate(0%,-18%);
          }
        }
        @include breakpoint(($mobilelandscape)) {
          min-height: 25vw;
          max-height: 35vw;

          img:not([src*="defaut"]) {
            transform: translate(0%,-30%);
          }
          img[src*="defaut"]{//Position du visuel par défaut
            transform: translate(0%,-20%);
          }
        }
      }//Fin illustration-pleinepage
    }
  }
}// Fin zone-illustration
#zone-1.type-page-association{
    padding: span(0.2);
}

/*######-------- ||| STYLE ||| --------######*/

/*¤¤¤ STYLES COMMUNS ¤¤¤*/
#zone-illustration.type-page-association{
    h1.titre_overlay{
        @include titre_overlay();
    }
}

  $typedecontenu: type-page-association ;
  $zones: zone-1, zone-2, zone-3, zone-4 ;
  @each $zone in $zones {
    @each $type in $typedecontenu {
      ##{$zone}.#{$type} {
        li,
        p,
        ul {
          @include font-size(m); //utilisation de typey
          padding: em(5px);
          line-height: 1.5em;
          list-style-position: inside;
        }

        u {
          font-weight: bold;
          color: $violet;
        }

        h2 {
          @include font-size(l); //utilisation de typey
          color: $orange-fonce;
        }

        h3 {
          @include font-size(m); //utilisation de typey
          color: $gris-anthracite;
        }
        h4{
          @include font-size(s); //utilisation de typey
          color: $rose-fushia;
        }
        h5{
          @include font-size(xs); //utilisation de typey
          color: $bleu-turquoise;
        }
        a {
          text-decoration: none;
          color: $orange-fonce;

          &:hover {
            text-decoration: underline;
          }
        }
        em {//texte italique
          color: $orange-fonce;
        }
        strong {
          color: $violet;
        }
        .videos {
          ul {
            li{
              list-style: none;
            }

          }

          iframe {
            @include breakpoint(($desktop,$desktopwide)) {
              max-height: 90vh;
              max-width: 60vw;
              margin: 0 auto;
              padding: span(0.02);
              border: em(3px) solid $violet;
            }
            @include breakpoint(($mobilelandscape,$tablet,$tabletlandscape)) {
              max-height: 90vh;
              max-width: 90vw;
              margin: 0 auto;
              padding: span(0.02);
              border: em(3px) solid $violet;
            }
          }
        }
  } // Fin ##{$zone}.#{$type}
  }// Fin @each $type in $typedecontenu
  } // Fin @each $zone in $zones

/*------------------------------------
        ¤¤¤ STYLES PROPRES ¤¤¤
______________________________*/

#zone-1.type-page-association{
    img{
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
            //correction taille images dans le corps
            width: auto;
        }
    }

    .entrefilet{

        display: block;
        color: $orange-fonce;
        @include font-size(l);//utilisation de typey
        text-transform: uppercase;
        font-weight: bold;
        quotes: "\201C""\201D""\2018""\2019";
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
            padding: span(0.2);
            transform: translate(1%,2%);
            float: right;
            margin: span(0.1);
            min-width: span(3);
            max-width: span(5);
        }
        &::before{
            /*@include backgroundImage('bg-merci.gif');*/
            content: open-quote;
            @include font-size(l);//utilisation de typey
        }
    }
    aside.deco-bloc{

        padding: span(0.1);
    }
    aside{
        img[src*="deco"]{
            @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
                float: left;
                margin: span(0.01);
            }
        }
        &.video{
            @include backgroundImage(('zebra-gros-clair.gif'),transparent,top left,repeat);
            @include arrondis();
            @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
                padding: span(0.01);
                margin: 0 span(2);
            }
            iframe{
                border: 0;
            }
        }
    }
    .lien-origine{
        font-weight: bold;
        position: relative;
        &::before{
            content: " >> ";

        }
        a{

            &:hover{
                color: $blanc-casse;
                background: $orange-fonce;
                text-decoration: none;
            }
        }
    }
    /*Contenu du QT pour afficher temoignage anciens élèves sur page association*/
    .temoignage-anciens {
        h2{
            text-align: left;
        }
        h3{

        }
        li.active a {
            color: white;
        }
        a{
            &:hover{}
        }
        img{}
    }
}
#zone-2.type-page-association{}
#zone-3.type-page-association{}
#zone-4.type-page-association{}
#zone-5.type-page-association{}
