// Regroupe le style pour le contenu des node.tpl custom
// créer des fichiers _CONTENT-TYPE.scss et les importer dans application.scss
/*-------------------------------------|
|         CONTENU CUSTOM               |
|               NODE.TPL               |
|             PAGE GLOBALE             |
|--------------------------------------*/
//@include breakpoint ($mobile){}
//@include breakpoint ($desktop){}
//@include breakpoint ($tablet){}
//@include breakpoint(($desktop,$tablet)){}
//@include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){}
/*######-------- ||| ORDRE FLEXBOX ||| --------######*/

body .conteneur .conteneur-flex {
  #zone-1.type-page-globale {
    order: 1;
  }

  #zone-2.type-page-globale {
    order: 2;
  }

  #zone-3.type-page-globale {
    order: 3;
  }

  #zone-4.type-page-globale {}

  #zone-5.type-page-globale {}
  @include breakpoint ($desktop) {}
}
/*######-------- ||| BORDURES ||| --------######*/
/*######-------- ||| LAYOUT SPECIFIQUE ||| --------######*/
article.middle-content {
  //Empêche les flottants de sortir du conteneur
  @include clearfixsusy3;
}

#zone-illustration.type-page-globale {
  #illustration-pleinepage {
    min-height: 35vw;
    max-height: 90vw;
    overflow: hidden;
    position: relative;

    img {
      transform: translate(0%,0%);
      @include adaptable-img();
    }
    @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)) {
      min-height: 25vw;
      max-height: 30vw;

      img {
        transform: translate(0%,-6%);
      }
      // Position différente de l'image selon le nid.
      &.illustration-nid-133{
        @include breakpoint(($desktop,$desktopwide)) {
          img {
            transform: translate(0%,-37%);
          }
        }
        @include breakpoint(($mobilelandscape,$tablet,$tabletlandscape)){
            min-height: 25vw;
            max-height: 40vw;
            img{
                transform: translate(0%,-35%);
            }
        }
      }
      &.illustration-nid-526{ //Page rubrique lycée
        @include breakpoint(($desktop,$desktopwide)) {
          img {
            transform: translate(0%,-31%);
          }
        }
        @include breakpoint(($mobilelandscape,$tablet,$tabletlandscape)){
            min-height: 25vw;
            max-height: 40vw;
            img{
                transform: translate(0%,-20%);
            }
        }
      }
    }
  }
}


#zone-1.type-page-globale {
  padding: span(0.2) 0;


  ul {
    margin: 0;
  }

  li {
    display: table;
    margin: 0 0 span(0.2);
    padding: span(0.2) 0;
    @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)) {
      li::not(ul.liste-vdl-lycee){
      min-width: 95%; //non appliqué sur éléments des listes VDL, géré par page-vdl-liste.scss
      }
    }

  }
//Pour Accès Contenu Lycée voir _page-vdl-liste.scss

}

#zone-2.type-page-globale {}
/*######-------- ||| STYLE ||| --------######*/

h1.titre-page-globale {
  @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)) {
    top: em(10px);
    left: em(10px);
  }
}
/*¤¤¤ STYLES COMMUNS ¤¤¤*/
//https://benfrain.com/working-with-lists-and-each-loops-in-sass-with-the-index-and-nth-function/
//https://clubmate.fi/lists-in-sass-syntax-and-use-cases-with-examples/
//Permet de créer facilement les styles communs à des IDs ou/et classes
$typedecontenu: type-page-globale; //2e boucle , type-page-globale2, type-page-globale3
$zones: zone-1; //1ere boucle , zone-2, zone-3
@each $zone in $zones {
  @each $type in $typedecontenu {
    ##{$zone}.#{$type} {
      li,
      p,
      ul {
        @include font-size(m); //utilisation de typey
        padding: em(5px);
        line-height: 1.5em;
        list-style-position: inside;
      }

      u {
        font-weight: bold;
        color: $rose-fushia;
      }

      h2 {
        @include font-size(l); //utilisation de typey
        color: $violet;
      }

      h3 {
        @include font-size(m); //utilisation de typey
        color: $rose-fushia;
      }

      a {
        text-decoration: none;
        color: $violet;

        &:hover {
          text-decoration: underline;
        }
      }

      strong {
        color: $rose-fushia;
      }
    }
  }
}
/*------------------------------------
        ¤¤¤ STYLES PROPRES ¤¤¤
______________________________*/
#zone-1.type-page-globale {
//Pour Accès Contenu Lycée voir _page-vdl-liste.scss
}

#zone-2.type-page-globale {}

#zone-3.type-page-globale {}

#zone-4.type-page-globale {}

#zone-5.type-page-globale {}
