// Regroupe le style pour le contenu des node.tpl custom
// créer des fichiers _node-TYPE.scss et les importer dans application.scss

/*-------------------------------------|
|       CONTENU CUSTOM              |
|               NODE.TPL                     |
|       CONTACT WEBFORM            |
|--------------------------------------*/

//@include breakpoint ($mobile){}
//@include breakpoint ($desktop){}
//@include breakpoint ($tablet){}
//@include breakpoint(($desktop,$tablet)){}
//@include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){}

//Ressources sur Attributs et PseudoElements
// https://tympanus.net/codrops/2013/07/05/using-custom-data-attributes-and-pseudo-elements/

/*######-------- ||| ORDRE FLEXBOX ||| --------######*/
body .conteneur .conteneur-flex{
    #zone-1.type-webform{order:1;}
    #zone-2.type-webform{order:2;}
    #zone-3.type-webform{order:3;}
    #zone-4.type-webform{}
    #zone-5.type-webform{}
    @include breakpoint ($desktop){}
}

/*######-------- ||| BORDURES ||| --------######*/
body .conteneur .conteneur-flex,
body .conteneur{
    @include breakpoint(($desktop,$tablet)){
    }

}

/*######-------- ||| LAYOUT SPECIFIQUE ||| --------######*/
$typedecontenu: type-webform;
$zonesimg: zone-illustration;
@each $zone in $zonesimg {
  @each $type in $typedecontenu {
    ##{$zone}.#{$type} {
      #illustration-pleinepage {
        min-height: 35vw;
        max-height: 90vw;
        overflow: hidden;
        position: relative;
        // Pour image défaut en BG, voir style différencié ci-après

        img {
          transform: translate(0%,0%);
          @include adaptable-img();
        }
        @include breakpoint(($desktop,$desktopwide)) {
          min-height: 25vw;
          max-height: 30vw;

          img:not([src*="defaut"]) {
            transform: translate(0%,-9%);
          }
          img[src*="defaut"]{//Position du visuel par défaut
            transform: translate(0%,-10%);
          }
        }
        @include breakpoint(($tablet)) {
          min-height: 25vw;
          max-height: 30vw;

          img:not([src*="defaut"]) {
            transform: translate(0%,-25%);
          }
          img[src*="defaut"]{//Position du visuel par défaut
            transform: translate(0%,-24%);
          }
        }
        @include breakpoint(($tabletlandscape)) {
          min-height: 25vw;
          max-height: 30vw;

          img:not([src*="defaut"]) {
            transform: translate(0%,-20%);
          }
          img[src*="defaut"]{//Position du visuel par défaut
            transform: translate(0%,-18%);
          }
        }
        @include breakpoint(($mobilelandscape)) {
          min-height: 25vw;
          max-height: 35vw;

          img:not([src*="defaut"]) {
            transform: translate(0%,-23%);
          }
          img[src*="defaut"]{//Position du visuel par défaut
            transform: translate(0%,-20%);
          }
        }
      }// Fin illustration-pleinepage
    }
  }
}

#zone-1.type-webform{
    .content{
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
            padding: span(0.2);
        }
    }
    iframe[src*="maps"],
    iframe[src*="umap"]
    {
        min-height: 60vh;
        min-width: 90vw;
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet)){
            min-height: 60vh;
            min-width: 30vw;
        }
        @include breakpoint(($tabletlandscape)){
            min-height: 75vh;
        }
        @include breakpoint(($tablet)){
            min-height: 55vh;
        }
    }
}
#zone-2.type-webform{

    aside.formulaire{
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
            padding: span(0.2);
        }
        table,tbody,tr,td,form,input[type="text"],input[type="email"],select,textarea{
            width: 95%;
            margin: 0 auto;
            @include arrondis(1.5em);
            @include backgroundImage(("motif_img_overlay.png"),transparent,repeat, top left);
            @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
                width: 90%;
                margin: span(0.1) auto;
                padding: span(0.1);

            }
        }
        textarea{
            @include arrondis(1em);
        }
    }// aside.formulaire

}
/*######-------- ||| STYLE ||| --------######*/

/*¤¤¤ STYLES COMMUNS ¤¤¤*/
$typedecontenu: type-webform;//2e boucle -  CLASS_NAME_CONTENU2, CLASS_NAME_CONTENU3
$zones: zone-1, zone-2;//1ere boucle
@each $zone in $zones {
    @each $type in $typedecontenu{
        ##{$zone}.#{$type}
        {
          p,ul,li{
            @include font-size(m); //utilisation de typey
            padding: em(5px);
            line-height: 1.5em;
            list-style-position: inside;
          }
          u {
            font-weight: bold;
            color: $violet;
          }

          h2 {
            @include font-size(l); //utilisation de typey
            color: $orange-fonce;
          }

          h3 {
            @include font-size(m); //utilisation de typey
            color: $gris-anthracite;
          }
          h4{
            @include font-size(s); //utilisation de typey
            color: $rose-fushia;
          }
          h5{
            @include font-size(xs); //utilisation de typey
            color: $bleu-turquoise;
          }
          a {
            text-decoration: none;
            color: $orange-fonce;

            &:hover {
              text-decoration: underline;
            }
          }
          em {//texte italique
            color: $orange-fonce;
          }
          strong {
            color: $violet;
          }
        } // {{$zones}}
    }
}


/*------------------------------------
        ¤¤¤ STYLES PROPRES ¤¤¤
______________________________*/

#zone-1.type-webform{
    iframe,object{
        border: em(2px) solid $violet;
        padding: span(0.01);
        @include img-centered;
        max-width: 65%;
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){

            position: relative;
            top:0;
            left: 0;

            max-width: 95%;
            padding: span(0.02);
              iframe :not(iframe[src*="maps"]):not(iframe[src*="umap"]){
                width: 100vw;//Pas de % pour les iframes px ou vh vw - plan exclu
                height: 100vh;
              }
        }
    }
}
#zone-2.type-webform{
    aside.formulaire{

        input[type="text"],input[type="email"],textarea{
            background: $orange-fonce; // Couleur fond des champs
            color: $gris-anthracite;
            padding: span(0.01);
        }
    }// aside.formulaire
}
#zone-3.type-webform{}
#zone-4.type-webform{}
#zone-5.type-webform{}
