{# empty Twig template #}
{#
/* 02/2019 Liste les fichiers uploadés par
          * filefield and linkfield  avec création d'une liste dynamique, exclusion des champs vides
#}
{% if node.field_doc_joints.value or node.field_lien_page_lycee.value is not empty %}
  <div class="bloc_docs_utiles_plycee">
    {{ node.field_doc_joints.title }}
    <ul>
      {# //Parcourir le tableau field_NAME de l'objet $node pour lister le contenu clé/valeur #}
      {% for key, fichier in node.field_doc_joints.value %}
        {# //Ne pas afficher les champs vides du tableau #}
        {% if node.field_doc_joints.value is not empty %}
          <li>{{ content.field_doc_joints[key] }}</li>
        {% endif %}
      {% endfor %}

      {# //Parcourir le tableau field_NAME de l'objet $node pour lister le contenu clé/valeur #}
      {% for key, lien in node.field_lien_page_lycee %}
        {# //Ne pas afficher les champs vides du tableau #}
        {% if node.field_lien_page_lycee is not empty %}
          <li>{{ content.field_lien_page_lycee[key] }}</li>
        {% endif %}
      {% endfor %}

    </ul>

    {% for item in items %}
      <div class="gallery-image-item">{{ item.content }}</div>
    {% endfor %}
  </div>
{% endif %}

{# Classe conditionnelle avec TWIG
https://stackoverflow.com/questions/59355023/conditional-class-with-twig-on-div-element
#}

{% set vueBlocArchives_classes = [
'liste-archives',
'type-' ~ node.bundle|clean_class
]%}
{% set vuebloc_classes = [
'liste-vdl',
'type-' ~ node.bundle|clean_class
]%}
{% set vueBlocInfoAdmin_classes = [
'liste-info-admin',
'type-' ~ node.bundle|clean_class
]%}

{% if node.field_inserer_liste_viewfield is not empty %}
  {# Change classe selon Nid - Ici nid de la page archives #}
  {% if node.field_inserer_liste_viewfield is not empty and node.id == 77 %}
    <aside {{ vuebloc_attribute.addClass(vueBlocArchives_classes) }}>

      {# Change classe selon le Nid - Ici nid de la page Info Admin #}
    {% elseif node.field_inserer_liste_viewfield is not empty and node.id == 125 %}
      <aside {{ vuebloc_attribute.addClass(vueBlocInfoAdmin_classes) }}>

      {% else %}
        <aside {{ vuebloc_attribute.addClass(vuebloc_classes) }}>
        {% endif %}
        {{ content.field_inserer_liste_viewfield.0 }}
      </aside>
    {% endif %}

    SCSS

/*
$typedecontenu: type-TDC,type-TDC2,type-TDC3 ;
$zones: zone-1, zone-2,zone-3, zone-4,zone-5 ;
@each $zone in $zones {
  @each $type in $typedecontenu {
    ##{$zone}.#{$type} {
    } //Fin ##{$zone}.#{$type}
  } // Fin @each $type
} // Fin @each $zone

// if pour SCSS
$condition1: bob;
@if $condition1 == bob {
  // if condition proves true
  // execute everything in the
  // code block
}

*/